*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

body{
  padding: 20px 20px;
  background-color: rgb(24, 24, 24);
  color: white;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-buttons-container,
.control-buttons-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;
}


.move-button-container,
.control-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.move-icon{
  height: 60px;
}

.move-button{
  background-color: transparent;
  border: 4px solid rgb(83, 83, 83);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  cursor: pointer;
}
.move-button:active,
.move-button-active{
  border-color: white
}


.result{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.score{
  margin-top: 10px;
  margin-bottom: 16px;
}

.reset-button,
.auto-play-button{
  background-color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 8px 24px;
  cursor: pointer;
}

.is-toggled{
  color: white;
  background-color: rgb(60, 60, 60);
}

.shortcut-display{
  color: rgb(72, 72, 72);
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.is-keydown {
  color: white;
}